@import '../shared/styles/helpers/box-sizing';
@import 'variables';
@import 'animate.css';

html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

body {
  background-color: $background-color;
  font-family: $font-family-base;
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  font-size: 13px;
  color: $text-color;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 {
  @extend .h1;
  font-size: $h1-font-size;
}
h2, .h2 {
  @extend .h2;
  font-size: $h2-font-size;
}
h3, .h3 {
  @extend .h3;
  font-size: $h3-font-size;
}
h4, .h4 {
  @extend .h4;
  font-size: $h4-font-size;
}
h5, .h5 {
  @extend .h5;
  font-size: $h5-font-size;
}
h6, .h6 {
  @extend .h6;
  font-size: $h6-font-size;
}

p {
  margin-top: 0;
  margin-bottom: $paragraphs-margin-bottom;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $brand-color-red;
}
