$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

$black:    #000 !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

$desktop-width: 1024px;

// Fonts
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-base:            $font-family-sans-serif !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;

$font-weight-light: 300 !default;
$font-weight-normal: normal !default;
$font-weight-medium: 500;
$font-weight-bold: bold !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.35 !default;

$h1-font-size: 2rem !default;
$h2-font-size: 1.75rem !default;
$h3-font-size: 1.5rem !default;
$h4-font-size: 1.3rem !default;
$h5-font-size: 1.1rem !default;
$h6-font-size: 1rem !default;

$headings-margin-bottom:      ($spacer / 1.5) !default;
$headings-font-family:        inherit !default;
$headings-font-weight:        $font-weight-bold !default;
$headings-line-height:        1.2 !default;
$headings-color:              #111111 !default;

$paragraphs-margin-bottom:      ($spacer / 1) !default;

$text-color: #525252;

$brand-color-red: #D75A4A;
$brand-color-red-alt: #B24133;
$brand-color-white: #fff;
$brand-color-off-white: #ECECEC;
$brand-color-grey: #525252;
$brand-color-error: #B61400;

$background-color: $brand-color-white;
$well-background-color: darken($background-color, 5%);

$form-placeholder-color: #9B9B9B;
$form-input-hint-color: #9B9B9B;
$form-input-border-bottom-color: #F2F2F2;
$form-input-font-weight: 500;
$form-input-color: #3e3e3e;
