<%= render layout: 'layouts/screen_with_navigation' do %>
  <div class="Dashboard">
    <div class="Dashboard__header">
      <%
      # TODO: Link to profile image change
      %>
      <a href="#" class="Dashboard__header__profile-image-frame">
        <%= image_tag 'app/missing-profile.png', class: 'Dashboard__header__profile-image-frame__image' %>
      </a>
      <h4 class="Dashboard__header__name">The <%= @setup_dashboard.wedding_name %></h4>
      <p class="Dashboard__header__info"><%= @setup_dashboard.formatted_wedding_date %> / <%= pluralize(@setup_dashboard.days_until_wedding, 'day') %></p>
    </div>

    <div class="Dashboard__content">
      <div class="Setup">
        <div class="Setup__info">
          <h2><%= @setup_dashboard.steps_completed %>/<%= @setup_dashboard.number_of_steps %> Steps Completed</h2>
          <p>You need to customise your website before you can begin to send invites. Lets get started:</p>
        </div>

        <ul class="Setup__steps IconList">
          <li class="IconList__item IconList__item--with-link">
            <a href="#" class="IconList__item__content">
              <%= image_tag 'app/wedding-photo.svg', class: 'Icon Icon--red IconList__item__icon' %>
              <p class="IconList__item__label">Upload a picture of you both</p>
              <%= image_tag 'app/next-button.svg' %>
            </a>
          </li>
          <li class="IconList__item IconList__item--with-link">
            <a href="#" class="IconList__item__content">
              <%= image_tag 'app/venue.svg', class: 'Icon Icon--red IconList__item__icon' %>
              <p class="IconList__item__label">Provide venue details</p>
              <%= image_tag 'app/next-button.svg' %>
            </a>
          </li>
          <li class="IconList__item IconList__item--with-link">
            <a href="#" class="IconList__item__content">
              <%= image_tag 'app/theme.svg', class: 'Icon Icon--red IconList__item__icon' %>
              <p class="IconList__item__label">Choose a theme</p>
              <%= image_tag 'app/next-button.svg' %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
