<% content_for :screen_back_path, app_root_path %>
<% content_for :screen_title, 'Login' %>

<%= render layout: 'layouts/screen' do %>
  <div class="Login">
    <%= form_with model: @form, url: app_sessions_path, class: 'Form', local: true do |f| %>
      <%= render_form_errors @form %>
      <div class="Form__section">
        <div class="Form__control">
          <%= f.telephone_field :phone_number, placeholder: 'Mobile Phone Number' %>
        </div>
      </div>
      <div class="Form__action">
        <%= f.submit 'Confirm', class: 'Button Button--primary Button--full-width', data: { disable_with: 'Please wait...' } %>
      </div>
    <% end %>
  </div>
<% end %>
