<% content_for :screen_back_path, new_app_signup_stage_one_path %>
<% content_for :screen_title, 'Signup' %>

<%= render layout: 'layouts/screen' do %>
  <div class="Signup Signup--stage-two">
    <%= form_with model: @form, url: app_signup_stage_two_path, class: 'Form', local: true do |f| %>
      <%= render_form_errors @form %>
      <div class="Form__section">
        <h3>Will this be the name of your wedding?</h3>
        <div class="Form__control">
          <%= f.text_field :name, placeholder: 'Wedding Name', required: true, autocomplete: 'off' %>
        </div>
      </div>
      <div class="Form__section">
        <h3>Does this URL look okay?</h3>
        <div class="Form__control DomainPreview" data-controller="domain-preview" data-domain-preview-base-domain="<%= @form.context[:base_domain] %>">
          <%= f.text_field :domain,
                           placeholder: "yourwedding.#{@form.context[:base_domain]}",
                           required: true,
                           autocomplete: 'off',
                           class: "DomainPreview__value",
                           data: {
                             target: "domain-preview.value",
                             action: "change->domain-preview#updatePreview keyup->domain-preview#updatePreview keydown->domain-preview#updatePreview"
                           }
          %>
          <input type="text" class="DomainPreview__preview" tabindex="-1" data-target="domain-preview.preview"></input>
          <p class="Form__control__hint">Note: you can bring your own domain name such as <%= @form.domain %>.co.uk at a later stage.</p>
        </div>
      </div>
      <div class="Form__action">
        <%= f.submit 'Continue', class: 'Button Button--primary Button--full-width', data: { disable_with: 'Please wait...' } %>
      </div>
    <% end %>
  </div>
<% end %>
