<% content_for :screen_footer do %>
  <%= link_to 'Lets Go!', app_root_path(token: @complete_signup.login_token), class: 'Button Button--primary Button--full-width' %>
<% end %>
<%= render layout: 'layouts/screen' do %>
  <div class="Signup Signup--complete">
    <%= image_tag 'app/wedding-couple.svg', class: 'Signup__complete__icon animated fadeIn' %>
    <h3 class="Signup__complete__heading animated fadeInDown">Great, you’re all setup</h3>
    <p class="Signup__complete__next animated fadeInUp">We’ve text you and <%= @complete_signup.partner_forename %> details on how to login at any time.</p>
    <h4>What's next?</h4>
    <ul class="Signup__complete__steps IconList">
      <li class="IconList__item animated fadeIn delay-1s">
        <div class="IconList__item__content">
          <%= image_tag 'app/unselected-checkbox.svg', class: 'Icon Icon--red IconList__item__icon' %>
          <p class="IconList__item__label">Provide the details of your day</p>
        </div>
      </li>
      <li class="IconList__item animated fadeIn delay-2s">
        <div class="IconList__item__content">
          <%= image_tag 'app/unselected-checkbox.svg', class: 'Icon Icon--red IconList__item__icon' %>
          <p class="IconList__item__label">Send out your invites</p>
        </div>
      </li>
      <li class="IconList__item animated fadeIn delay-3s">
        <div class="IconList__item__content">
          <%= image_tag 'app/unselected-checkbox.svg', class: 'Icon Icon--red IconList__item__icon' %>
          <p class="IconList__item__label">Receive responses + gifts!</p>
        </div>
      </li>
    </ul>
  </div>
<% end %>
