@import '../../variables';

.DomainPreview {
  position: relative;

  .DomainPreview__value {
    position: absolute;
    z-index: 2;
    color: transparent;
    background: transparent;
    border-color: transparent;
    caret-color: $form-input-color;
  }

  &__preview {
    position: relative;
    z-index: 1;
  }
}
