@import '../variables';

@mixin breakpoint($breakpoint-width) {
  @media (min-width: $breakpoint-width) {
    @content;
  }
}

@mixin desktop-breakpoint {
  @include breakpoint($desktop-width) {
    @content;
  }
}
