<% content_for :screen_back_path, app_root_path %>
<% content_for :screen_footer do %>
  <%= link_to 'Get Started', new_app_signup_stage_one_path, class: 'Button Button--primary Button--full-width' %>
<% end %>

<%= render layout: 'layouts/screen' do %>
  <div class="AboutPage">
    <%= image_tag 'app/wedding-couple.svg', class: 'AboutPage__icon animated fadeIn' %>
    <h3 class="AboutPage__heading animated fadeInDown">A website, for your wedding!</h3>
    <p class="AboutPage__explanation animated fadeInUp">WeddingInvite.io offers you the ability to put together an attractive, easy to use website for your wedding that makes it simple to:</p>

    <ul class="AboutPage__features IconList">
      <li class="IconList__item animated fadeIn delay-1s">
        <div class="IconList__item__content">
          <%= image_tag 'app/invite.svg', class: 'Icon Icon--red IconList__item__icon' %>
          <p class="IconList__item__label">Provide guests with the ability to RSVP via your website</p>
        </div>
      </li>
      <li class="IconList__item animated fadeIn delay-2s">
        <div class="IconList__item__content">
          <%= image_tag 'app/venue.svg', class: 'Icon Icon--red IconList__item__icon' %>
          <p class="IconList__item__label">Provide people details about your day with times, locations and more</p>
        </div>
      </li>
      <li class="IconList__item animated fadeIn delay-3s">
        <div class="IconList__item__content">
          <%= image_tag 'app/holiday.svg', class: 'Icon Icon--red IconList__item__icon' %>
          <p class="IconList__item__label">Receive gifts with messages from your guests</p>
        </div>
      </li>
    </ul>
  </div>
<% end %>
