<% content_for :screen_title, 'Settings' %>
<%= render layout: 'layouts/screen_with_navigation' do %>
  <div class="Settings">
    <ul class="Settings__list IconList">
      <li class="IconList__item IconList__item--with-link">
        <a href="#" class="IconList__item__content">
          <%= inline_svg 'app/wedding-photo.svg', class: 'Icon Icon--red IconList__item__icon' %>
          <p class="IconList__item__label">Choose a picture of you both</p>
          <%= image_tag 'app/next-button.svg' %>
        </a>
      </li>

      <li class="IconList__item IconList__item--with-link">
        <a href="#" class="IconList__item__content">
          <%= inline_svg 'app/venue.svg', class: 'Icon Icon--red IconList__item__icon' %>
          <p class="IconList__item__label">Modify venue details</p>
          <%= image_tag 'app/next-button.svg' %>
        </a>
      </li>

      <li class="IconList__item IconList__item--with-link">
        <a href="#" class="IconList__item__content">
          <%= inline_svg 'app/theme.svg', class: 'Icon Icon--red IconList__item__icon' %>
          <p class="IconList__item__label">Customise your theme</p>
          <%= image_tag 'app/next-button.svg' %>
        </a>
      </li>

      <li class="IconList__item IconList__item--with-link">
        <a href="#" class="IconList__item__content">
          <%= inline_svg 'app/gift.svg', class: 'Icon Icon--red IconList__item__icon' %>
          <p class="IconList__item__label">Specify gift details</p>
          <%= image_tag 'app/next-button.svg' %>
        </a>
      </li>

      <li class="IconList__item IconList__item--with-link">
        <a href="#" class="IconList__item__content">
          <%= inline_svg 'app/couple-details.svg', class: 'Icon Icon--red IconList__item__icon' %>
          <p class="IconList__item__label">Change couple details</p>
          <%= image_tag 'app/next-button.svg' %>
        </a>
      </li>
    </ul>
  </div>
<% end %>
