@import '../../variables';

.IconList {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    &--with-link {
      color: inherit;

      .IconList__item__label {
        padding-right: 15px;
      }
    }

    &:last-child {
      .IconList__item__content {
        border-bottom: 0;
      }
    }

    &__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 2px solid $brand-color-off-white;
      padding: 13px 10px;
      width: 100%;
      color: inherit;
    }

    &__icon {
      width: 23%;
      max-width: 120px;
      display: block;
    }

    &__label {
      color: inherit;
      margin: 0;
      flex: 1;
      padding-left: 15px;
    }
  }
}
