@import '../../variables';
@import '../../helpers/shadows';

.Dashboard {
  &__header {
    text-align: center;
    margin-bottom: 25px;

    &__profile-image-frame {
      display: block;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      overflow: hidden;
      @extend .shadow-lg;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;

      &__image {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &__name {
      font-size: $font-size-base * 1.05;
      font-weight: $font-weight-medium;
      margin-bottom: 5px;
    }

    &__info {
      font-size: $font-size-base * .85;
    }
  }
}
