<nav class="Navigation">
  <% @navigation.items.each do |item| %>
    <%
    # TODO: Move to helper
    item_classes = ['Navigation__item']
    item_classes << 'Navigation__item--active' if item.active?
    %>
    <%= link_to item.path, class: item_classes do %>
      <%= inline_svg item.icon, class: "Navigation__item__icon" %>
      <span class="Navigation__item__label"><%= item.label %></span>
    <% end %>
  <% end %>
</nav>
