<div class="SplashScreen animated fadeIn">
  <%= image_tag 'white-logo.svg', class: 'SplashScreen__logo animated fadeInDown' %>
  <h1 class="SplashScreen__heading animated fadeInUp">Create your free wedding invite website</h1>
  <%= link_to 'Get Started', new_app_signup_stage_one_path, class: 'SplashScreen__button Button Button--primary Button--full-width' %>
  <%= link_to 'Login', new_app_session_path, class: 'SplashScreen__button Button Button--secondary Button--full-width' %>
  <%= link_to 'Find out more', app_about_path, class: 'SplashScreen__more' %>
</div>
