@import '../../variables';

.Verify {
  &__explanation,
  &__heading {
    text-align: center;
  }

  &__icon {
    display: block;
    width: 35%;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  &__explanation {
    margin-bottom: 0;
  }

  $character-width: 1ch;
  $gap: .5 * $character-width;
  $number-of-digits: 4;
  $input-width: $number-of-digits * ($character-width + $gap);
  $underline-width: 2px;
  $underline-color: dimgrey;

  &__code {
    padding-left: 2ch;
    position: relative;

    .Form__control &__input {
      background: repeating-linear-gradient(90deg, $underline-color 0, $underline-color $character-width, transparent 0, transparent $character-width + $gap) 0 100% / #{$input-width - $gap} $underline-width no-repeat;
      border: 0;
      display: block;
      font-family: monospace;
      font-size: 70px;
      font-weight: bold;
      letter-spacing: $gap;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      width: $input-width;
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;

      &:focus {
        border-bottom: 0;
        outline: none;
      }
    }

    &__loading {
      opacity: 0;
      height: 0;
      width: 0;
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;
      position: absolute;
      transform: translateY(-25%);
      transform-origin: 50% 50%;
    }

    &--loading {
      .Verify__code__loading {
        opacity: 1;
        height: auto;
        width: 80px;
        top: 10px;
        left: calc(50% - 40px);
        transform: translateY(0);
      }

      .Verify__code__input {
        opacity: 0.0;
        transform: translateY(-25%);
      }
    }
  }

  &__retry {
    margin-top: 20px;
    text-align: center;

    &__link {
      color: $brand-color-red;
    }
  }

  .Form__errors {
    margin-top: 20px;
  }
}
