@import '../../variables';
@import '../../helpers/shadows';
@import '../../helpers/breakpoints';

.SplashScreen {
  background: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &__logo {
    width: 55%;
    max-width: 700px;
    height: auto;
  }

  &__heading {
    margin: 0;
    margin-top: 3px;
    margin-bottom: 15px;
    font-size: $h2-font-size;
    color: $brand-color-white;
    text-shadow: 0px 2px 10px rgba($black, 0.4);
  }

  &__button {
    margin-bottom: 10px;
    box-shadow: 0;
    @extend .shadow-sm;

    @include desktop-breakpoint {
      max-width: 500px;
    }
  }

  &__more {
    color: $brand-color-white;
    text-shadow: 0px 2px 5px rgba($black, 0.3);
  }
}
