.AboutPage {
  padding-top: 10px;
  
  &__heading, &__explanation {
    text-align: center;
  }

  &__icon {
    display: block;
    width: 35%;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  &__explanation {
    margin-bottom: 0;
  }
}
