@import '../../variables';

.Navigation {
  display: flex;
  flex-direction: row;
  align-content: center;

  &__item {
    flex: 1;
    text-align: center;
    color: $text-color;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &__icon,
    &__label {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &__icon {
      height: 35px;
      width: auto;
      margin-bottom: 5px;
      fill: currentColor;

      path, rect {
        fill: currentColor;
        transition: fill 0.1s ease-out;
      }
    }

    &__label {
      font-weight: $font-weight-bold;
      font-size: $font-size-base * .9;
    }

    &:focus,
    &:active,
    &:hover {
      text-decoration: none;
    }

    &--active, &:hover {
      color: $brand-color-red;
    }
  }
}
