<% content_for :screen_back_path, new_app_signup_stage_one_path %>
<% content_for :screen_title, 'Signup' %>

<%= render layout: 'layouts/screen' do %>
  <div class="Signup Signup--stage-three">
    <%= form_with model: @form, url: app_signup_stage_three_path, class: 'Form', local: true do |f| %>
      <%= render_form_errors @form %>
      <div class="Form__section">
        <h3>And finally, when is your wedding?</h3>
        <div class="Form__control">
          <%= f.date_field :date, placeholder: 'Your wedding date', required: true %>
        </div>
      </div>
      <div class="Form__section">
        <h3>Terms &amp; Privacy</h3>
        <div class="Signup__terms">
          <div class="Signup__terms__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
          </div>
        </div>
        <div class="Form__control Signup__terms-check" data-controller="round-label-checkbox">
          <%= f.label :terms_agreed, class: 'Form__control__round-label' do %>
            <%= f.check_box :terms_agreed, { 'data-action': 'change->round-label-checkbox#handleChange', 'data-target': 'round-label-checkbox.input' } %>
            <%= f.label :terms_agreed, '✓', class: 'Form__control__round-label__circle' %>
            <span class="Form__control__round-label__content">I have read and agree to the terms &amp; privacy policies</span>
          <% end %>
        </div>
      </div>
      <div class="Form__action">
        <%= f.submit 'Signup', class: 'Button Button--primary Button--full-width', data: { disable_with: 'Please wait...' } %>
      </div>
    <% end %>
  </div>
<% end %>
