@import '../../variables';
@import '../../helpers/shadows';

.Form {
  &__errors {
    color: $brand-color-white;
    background-color: $brand-color-error;
    @extend .shadow-sm;
    padding: 10px;
    padding-bottom: 15px;
    margin-bottom: 20px;

    &__heading {
      font-size: $h5-font-size;
      color: inherit;
    }

    &__list {
      margin: 0;
      padding-left: 20px;

      &__error {
        margin: 0;
        margin-bottom: 3px;
        padding-left: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__section {
    margin-bottom: 10px;
  }

  &__control {
    margin-bottom: 10px;

    input {
      border: 0;
      border-bottom: 2px solid $form-input-border-bottom-color;
      font-size: $font-size-base;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 5px;
      border-radius: 0;
      font-weight: $form-input-font-weight;
      color: $form-input-color;

      &::placeholder {
        color: $form-placeholder-color;
      }

      &:focus {
        outline: 0;
        border-bottom: 2px solid darken($form-input-border-bottom-color, 10%);
      }
    }

    &__round-label {
      position: relative;
      display: flex;
      align-items: center;

      $round-label: &;

      input[type="checkbox"] {
        display: none;
      }

      &__circle {
        border: 2px solid $brand-color-red;
        color: $brand-color-red;
        font-size: 20px;
        line-height: 36px;
        text-align: center;
        height: 38px;
        width: 38px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 7px;
        cursor: pointer;
      }

      &__content {
        flex: 1;
        margin-top: -2px;
        font-weight: $headings-font-weight;
        font-family: $headings-font-family;
      }

      &--checked {
        #{$round-label}__circle {
          background-color: $brand-color-red;
          color: $brand-color-white;
        }
      }
    }

    .field_with_errors {
      input {
        border-bottom: 2px solid $brand-color-error;
      }
    }

    &__hint {
      color: $form-input-hint-color;
      font-size: $font-size-base * 0.7;
    }
  }

  &__action {
    margin-top: 20px;
    padding-bottom: 10px;
  }
}
