<% content_for :screen_back_path, new_app_session_path %>
<%= render layout: 'layouts/screen' do %>
  <div class="Verify">
    <%= image_tag 'app/verify.svg', class: 'Verify__icon animated fadeIn' %>
    <h3 class="Verify__heading animated fadeInDown">Lookout for the text</h3>
    <p class="Verify__explanation animated fadeInUp">We’ve just sent you a text, enter the code from the message below to login:</p>

    <%= form_with model: @form, url: app_verifications_path, class: 'Form', local: true, html: { 'data-controller': 'verify' } do |f| %>
      <%= f.hidden_field :phone_number %>
      <%= render_form_errors @form %>
      <div class="Form__section">
        <div class="Form__control Verify__code" data-target="verify.codeControl">
          <%= f.text_field :authentication_code, autocomplete: 'one-time-code', autofocus: true, placeholder: '****', class: 'Verify__code__input', pattern: '\d*', maxlength: 4, novalidate: true, 'data-action': 'textInput->verify#submitWhenComplete input->verify#submitWhenComplete blur->verify#submitWhenComplete change->verify#submitWhenComplete keypress->verify#submitWhenComplete', 'data-target': 'verify.codeInput' %>
          <%= image_tag 'app/loading.svg', class: 'Verify__code__loading' %>
        </div>
      </div>
    <% end %>

    <div class="Verify__retry">
      <%= link_to "Haven't received it? Retry", new_app_session_path, class: 'Verify__retry__link' %>
    </div>
  </div>
<% end %>
