<% error_messages = errors.full_messages %>
<% if error_messages.size.positive? %>
  <div class="Form__errors">
    <h4 class="Form__errors__heading">We encountered an issue:</h4>
    <ul class="Form__errors__list">
      <% error_messages.each do |error_message| %>
        <li class="Form__errors__list__error"><%= error_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
