@import '../../variables';

.Icon {
  fill: currentColor;
  width: auto;
  height: auto;

  path, rect {
    fill: currentColor;
  }

  &--red {
    color: $brand-color-red;
  }

  &--grey {
    color: $brand-color-grey;
  }
}
