@import '../../variables';

.Signup {
  &__terms {
    max-height: 200px;
    background-color: $well-background-color;
    border: 1px solid $brand-color-off-white;
    border-radius: 5px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 15px;

    &__content {
      padding: 10px;
    }
  }

  &__complete {
    &__icon {
      display: block;
      width: 35%;
      max-width: 220px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
    }

    &__heading, &__next {
      text-align: center;
    }

    &__steps {
      .Icon {
        width: 38px;
        height: auto;
      }
    }
  }
}
