<% content_for :screen_back_path, app_root_path %>
<% content_for :screen_title, 'Signup' %>

<%= render layout: 'layouts/screen' do %>
  <div class="Signup Signup--stage-one">
    <%= form_with model: @form, url: app_signup_stage_one_path, class: 'Form', local: true do |f| %>
      <%= render_form_errors @form %>
      <div class="Form__section">
        <h3>Let's find out about you</h3>
        <div class="Form__control">
          <%= f.text_field :forename, placeholder: 'First Name' %>
        </div>
        <div class="Form__control">
          <%= f.text_field :surname, placeholder: 'Last Name', required: true %>
        </div>
        <div class="Form__control">
          <%= f.telephone_field :mobile_phone_number, placeholder: 'Mobile Phone Number', required: true %>
        </div>
      </div>
      <div class="Form__section">
        <h3>Who will you be marrying?</h3>
        <div class="Form__control">
          <%= f.text_field :partner_forename, placeholder: 'First Name', required: true, autocomplete: 'off' %>
        </div>
        <div class="Form__control">
          <%= f.text_field :partner_surname, placeholder: 'Last Name', required: true, autocomplete: 'off' %>
        </div>
        <div class="Form__control">
          <%= f.telephone_field :partner_mobile_phone_number, placeholder: 'Their Mobile Number', autocomplete: 'off' %>
          <p class="Form__control__hint">You can add their mobile number later if you prefer.</p>
        </div>
      </div>
      <div class="Form__action">
        <%= f.submit 'Continue', class: 'Button Button--primary Button--full-width', data: { disable_with: 'Please wait...' } %>
      </div>
    <% end %>
  </div>
<% end %>
