@import '../../variables';

.Screen {
  background-color: $brand-color-white;
  display: flex;
  flex-direction: column;
  height: 100vh;

  &:before {
    content: '';
    padding-top: env(safe-area-inset-top);
  }

  &__header {
    position: relative;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    transition: 0.2s box-shadow ease-out;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);

    &--has-scrolled {
      box-shadow: 0 6px 6px rgba(0, 0, 0, .1);
    }

    &__back {
      position: absolute;
      z-index: 10;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 7px;
      padding-bottom: 7px;
      margin-top: 6px;
      margin-left: 8px;
      left: 0;
      top: 0;
    }

    &__title {
      width: 100%;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 0;
    }
  }

  &__content {
    flex: 1 1 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 70px;

    &--with-title {
      padding-top: 20px;
    }
  }

  &__footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-width: env(safe-area-inset-bottom);
    border-bottom-color: rgba($brand-color-white, 0.9);
    border-bottom-style: solid;
    background-color: rgba($brand-color-white, 0.9);
    backdrop-filter: blur(2px);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    &--with-background {
      border-top: 2px solid #F2F2F2;
    }
  }
}
