@import '../../variables';
@import '../../helpers/shadows';

.Button {
  padding: 15px 10px 15px 10px;
  border-radius: 2px;
  outline: 0;
  border: 0;
  display: inline-block;
  font-weight: $font-weight-bold;
  text-decoration: none;
  border-width: 1px;
  box-shadow: 0 0 0 rgba($black, 0);
  transition: 0.1s box-shadow ease-out;

  &:hover {
    text-decoration: none;
  }

  &[disabled] {
    opacity: 0.8
  }

  &--primary {
    background-image: linear-gradient(90deg, $brand-color-red 0%, $brand-color-red-alt 100%);
    color: $brand-color-white;

    &:hover {
      @extend .shadow;
    }

    &:active {
      @extend .shadow-sm;
      background-image: linear-gradient(90deg, darken($brand-color-red, 5%) 0%, darken($brand-color-red-alt, 5%) 100%);
    }
  }

  &--secondary {
    background-image: linear-gradient(90deg, #FFF7F6 0%, #FFFFFF 94%);
    color: $brand-color-red;
  }

  &--outline {
    background-image: transparent;
    color: $brand-color-red;
    border: 2px solid $brand-color-red;
  }

  &--full-width {
    text-align: center;
    width: 100%;
  }
}
