<div class="Screen" data-controller="screen">
  <% if content_for?(:screen_back_path) || content_for?(:screen_title) %>
    <div class="Screen__header" data-target="screen.header">
      <% if content_for? :screen_back_path %>
        <%= link_to content_for(:screen_back_path), class: 'Screen__header__back' do %>
          <%= image_tag 'app/back-button.svg', class: 'Icon Icon--grey' %>
        <% end %>
      <% end %>
      <% if content_for? :screen_title %>
        <h2 class="Screen__header__title"><%= content_for :screen_title %></h2>
      <% end %>
    </div>
  <% end %>

  <%
  screen_content_base_class = 'Screen__content'
  screen_content_classes = [screen_content_base_class]
  screen_content_classes << "#{screen_content_base_class}--with-title" if content_for? :screen_title
  %>
  <div data-action="scroll->screen#handleScroll" class="<%= screen_content_classes.join(' ') %>">
    <%= yield %>
  </div>

  <% if content_for? :screen_footer %>
    <div class="Screen__footer Screen__footer--floating <%= content_for(:screen_footer_class) %>">
      <%= content_for :screen_footer %>
    </div>
  <% end %>
</div>
