<%= render layout: 'layouts/screen' do %>
  <% content_for :screen_footer_class, 'Screen__footer--with-background' %>
  <% content_for :screen_footer do %>
    <%= render partial: 'app/app/navigation' %>
  <% end %>
  <%= yield %>
<% end %>
