<% content_for :webpack_packs do %>
  <%= stylesheet_pack_tag 'app', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'app', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= render template: 'layouts/application' %>
