<!DOCTYPE html>
<html>
  <head>
    <%= content_for :meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= content_for :webpack_packs %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
